[submodule "vendor/zepto"]
	path = vendor/zepto
	url = git://github.com/madrobby/zepto.git
[submodule "vendor/pure"]
	path = vendor/pure
	url = git://github.com/pure/pure.git
[submodule "vendor/cookies"]
	path = vendor/cookies
	url = git://github.com/jed/cookies.git
