/* @override http://localhost:8000/stylesheets/style.css */

body {
	margin: 0;
	background-color: #ececec;
	font-size: 123.1%;
}

/* @group templates */

div#templates {
	display: none;
}

/* @group notes */

div.notecont {
	clear: left;
	padding-bottom: 10px;
	padding: 5px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: auto;
	background-color: white;
	border-radius: 5px;
	border: 1px solid white;
}

div.note {
	background: url(/images/shadow.png) no-repeat center bottom;
	padding-bottom: 10px;
}

div.content {
	background-color: white;
	text-align: left;
	padding: 10px;
}

div.metadata {
	font-size: 77%;
	border-bottom: 1px solid #dee0e0;
	padding: 2px;
	color: #a9a9a9;
	display: block;
	height: 19px;
}

div.deleteNote {
	display: table;
	float: right;
}

div.stats {
	float: left;
	width: 90%;
	text-align: left;
}



/* @end */



/* @end */

a {
  color: #00B7FF;
}

/* @group NewNote */

div.metadata div.deleteNote a {
	background: url(/images/close.png) no-repeat center top;
	width: 15px;
	height: 15px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

div#main {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
}

input#notesubmit {
	font-size: 16px;
}

textarea#notetext {
	width: 100%;
	border-style: none;
	padding: 20px;
	z-index: -2;
	height: 100px;
	border-bottom-color: #b9b9b9;
	border-bottom-style: solid;
	background-color: white;
}

div#new_note {
	display: table;
	clear: both;
	text-align: center;
	background-color: black;
	width: 100%;
	padding-bottom: 5px;
}

a#addNoteButton {
	float: right;
	border-radius: 10px;
	border-bottom: 1px solid white;
	padding: 5px;
	margin: 4px 10px 4px 4px;
}


/* @end */

/* @group Sort options */

div#sortOptions {
	margin-top: 10px;
}


#sortOptions ul li {
	float: left;
	width: 40%;
	margin: 1%;
	border-radius: 8px;
}

#sortOptions ul li.active {
	background-color: white;
}



/* @end */