/* @override http://localhost:8000/stylesheets/style.css */

body {
	margin: 0;
	font-size: 123.1%;
	background: #ececec url(/images/bg.png) no-repeat fixed center bottom;
}

/* @group templates */

div#templates {
	display: none;
}

/* @group notes */

div.notecont {
	clear: left;
	padding-bottom: 10px;
	padding: 5px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: auto;
	background-color: white;
	border-radius: 5px;
	border: 1px solid white;
}

div.note {
	background: url(/images/shadow.png) no-repeat center bottom;
	padding-bottom: 10px;
}

div.content {
	background-color: white;
	text-align: left;
	padding: 10px;
}

div.metadata {
	font-size: 77%;
	border-bottom: 1px solid #dee0e0;
	padding: 2px;
	color: #a9a9a9;
	display: block;
	height: 19px;
}

div.deleteNote {
	display: table;
	float: right;
}

div.stats {
	float: left;
	width: 90%;
	text-align: left;
	font-size: 77%;
}



/* @end */



/* @end */

a {
  color: #00B7FF;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

/* @group NewNote */

div.metadata div.deleteNote a {
	background: url(/images/close.png) no-repeat center top;
	width: 15px;
	height: 15px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

div#main {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
}

input#notesubmit {
	font-size: 16px;
}

textarea#notetext {
	width: 100%;
	border-style: none;
	padding: 20px;
	height: 100px;
	border-bottom-color: #b9b9b9;
	border-bottom-style: solid;
	background-color: white;
	border-right-style: solid;
}

div#new_note {
	display: table;
	clear: both;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	background-color: #585858;
	border-radius: 0 0 10 10;
}

a#addNoteButton {
	float: right;
	border-radius: 10px;
	padding: 6px;
	margin: 8px;
	background-color: white;
	border: 1px solid #b1b1b1;
}


/* @end */

/* @group Sort options */

div#sortOptions {
	margin-top: 16px;
	width: 320px;
	height: 46px;
	margin-right: auto;
	margin-left: auto;
}


#sortOptions ul li {
	float: left;
	width: 140px;
	border-radius: 8px;
	moz-border-radius: 8px;
	padding: 3px;
	color: #c4c4c4;
	margin: 5px;
}

#sortOptions ul {
	margin-right: auto;
	margin-left: auto;
}

#sortOptions ul li:hover {
	padding: 2px;
	width: 140px;
	border: 1px solid white;
}

#sortOptions ul li.active:hover {
	padding: 3px;
}


#sortOptions ul li.active {
	background-color: #eef1f1;
	color: black;
	border: 1px solid white;
}



/* @end */

/* @group Footer */

.footer {
	font-size: 58%;
	margin: 80px auto 0px auto;
	width: 500px;
	border-top: 1px solid white;
	-webkit-box-shadow: 0 -1px 0 #ddd;
	-moz-box-shadow: 0 -1px 0 #ddd;
	box-shadow: 0 -1px 0 #ddd;
	padding: 20px 0;
	text-align: center;
	color: #919191;
}

.footer span, a { 
	margin: 0;
}

/* @end */