/* @override http://localhost:8000/stylesheets/style.css */

body {
	margin: 0;
	font-size: 123.1%;
	background: #ececec url(/images/bg.png) no-repeat fixed center bottom;
}

/* @group templates */

div#templates {
	display: none;
}

#popup .error {
	border-color: red;
}

/* @group notes */

div.notecont {
	clear: left;
	padding-bottom: 10px;
	padding: 5px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: auto;
	background-color: white;
	border-radius: 5px;
	border: 1px solid white;
}

div.note {
	background: url(/images/shadow.png) no-repeat center bottom;
	padding-bottom: 10px;
}

div.content {
	background-color: white;
	text-align: left;
	padding: 10px;
}

div.metadata {
	font-size: 77%;
	border-bottom: 1px solid #dee0e0;
	padding: 2px;
	color: #a9a9a9;
	display: block;
	height: 19px;
}

div.deleteNote {
	display: table;
	float: right;
}

div.stats {
	float: left;
	width: 90%;
	text-align: left;
	font-size: 77%;
}



/* @end */



/* @end */

a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

/* @group NewNote */

div.metadata div.deleteNote a {
	background: url(/images/close.png) no-repeat center top;
	width: 15px;
	height: 15px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

div#main {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
	padding-top: 20px;
}

input#notesubmit {
	font-size: 16px;
}

textarea#notetext {
	width: 100%;
	border-style: none;
	border-bottom-color: #b9b9b9;
	border-bottom-style: solid;
	color: black;
	background-color: #eaeaea;
	padding: 20px;
	height: 64px;
}

div#new_note {
	display: table;
	clear: both;
	text-align: center;
	width: 100%;
	border-radius: 10;
}

a#addNoteButton {
	float: right;
	border-radius: 10px;
	padding: 6px;
	margin: 8px;
	background-color: white;
	border: 1px solid #d6dbdb;
}

a#addNoteButton:hover {
	border: 1px solid #9a9a9a;
	background-color: #d1d1d1;
}


/* @end */

/* @group Sort options */

div#sortOptions {
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	text-align: center;
}


#sortOptions ul li {
	float: left;
	color: #c4c4c4;
	margin: 5px;
}

#sortOptions span {
	float: left;
	margin: 6px;
	color: black;
}

#sortOptions ul {
	margin-right: auto;
	margin-left: auto;
}

#sortOptions ul li:hover {
	border-bottom: 2px solid #c4c4c4;
}

#sortOptions ul li.active {
	color: black;
	border-bottom: 2px solid black;
}



/* @end */

/* @group Footer */

.footer {
	font-size: 58%;
	text-align: center;
	color: #919191;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-top: 20px;
	margin-left: auto;
}

.footer span { 
	border-radius: 10px;	
	border: 1px solid rgba(255,254,255,0);
	margin: 0;
	background-color: rgba(255,254,255,0.44);
	padding: 10px;
	color: black;
}

/* @end */

/* @group Main */

div#topNav {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.hidden {
	display: none;
}



/* @end */